.social-icone{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.4rem;
    background-color: var(#f3f3f3);
    box-shadow: 0 4px 4px #0004;
    transition: .7s;
}

.social-icone:hover{
    background-color: var(--primary-color);
    transform: translateY(-15%);
    color: var(--text-color-light);
}